body, html {
    height: 100%;
    width: 100%;
}

#polift_logo {
	margin: auto;

}

#polift_logo_text {
    font-size: xx-large;
    vertical-align: center;
}

.phone_icon {
    margin:auto;
    width:75%;
    height:auto;
}

.download_image {
    width: 36%;
    height: auto;
}

.col-centered{
    float: none;
    margin: 0 auto;
     display: block;
}

.polift_link {
    
}

.twitter_icon {
    width:40px;
    height:40px;
    float:right;
}
